/* ------------- */
/* css-variables */
/* ------------- */
:root {
  /* fonts */
  --ff-sans-normal: "Poppins", sans-serif;

  /* font-weight */
  --fw--400: 400;
  --fw--600: 600;

  /* spacing */
  --pad-x: 3rem;
  --pad-y: 3rem;
  --pad: 1em;
  --flow-space--xs: 0.625rem;
  --flow-space--s: 1rem;
  --flow-space--m: 1.25rem;
  --gap: 4rem;

  /* colors */
  --c--black-op: rgba(0, 0, 0, 0.1);
  --c--accent-2: rgb(255, 244, 199);
  --c--accent-3: rgb(255 199 199);
  --c--accent-4: rgb(228 255 199);
  --c--disabled: rgba(239, 239, 239, 0.85);
  --c--red: #bc2525;

  /* grid */
  --grid--col: auto;
  --grid--row: auto;

  /* border-radius */
  --radius: 0.5rem;
}

/* --------------- */
/* Utility classes */
/* --------------- */
.d-block {
  display: block;
}

/* grid */
.grid {
  display: grid;
}

.grid-container {
  grid-template-columns: var(--grid--col);
  grid-template-rows: var(--grid--row);
}

.grid--all-gap {
  gap: var(--gap);
}

/* flexbox */
.flex {
  display: flex;
}

.flex--jc-sb {
  justify-content: space-between;
}

.flex--gap {
  gap: var(--gap);
}

/* positioning */
.p--rel {
  position: relative;
}

.p--abs {
  position: absolute;
}

/* padding */
.pad {
  padding: var(--pad);
}

/* spacing */
.flow-spacing--xs > * + * {
  margin-top: var(--flow-space--xs);
}

.flow-spacing--s > * + * {
  margin-top: var(--flow-space--s);
}

.flow-spacing--m > * + * {
  margin-top: var(--flow-space--m);
}

/* typography */
.text-capital {
  text-transform: capitalize;
}

/* font-family */
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

/* font weight */
.fw--400 {
  font-weight: var(--fw--400);
}

.fw--600 {
  font-weight: var(--fw--600);
}

/* containers */
.container {
  margin: 0 auto;
  max-width: 90rem;
  border: 1px solid var(--c--accent-1);
}

.container--px {
  padding-left: var(--pad-x);
  padding-right: var(--pad-x);
}

.container--py {
  padding-top: var(--pad-y);
  padding-bottom: var(--pad-y);
}

/* other */
.b-radius {
  border-radius: var(--radius);
}

.sr-only {
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* added line start */
  white-space: nowrap;
  /* added line end */
  border: none;
}

body{
  background-image: url("background.webp"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.nav{
  list-style: none;
  display: flex;
  gap: 4rem;
  padding: 4rem;
  padding-right: 6rem;
}

.nav-element,.nav-element a {
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  color: #05004e;
  text-shadow: 0px 0px 1px #000000;
  letter-spacing: .2rem;
}

.nav-element > a:hover{
  text-decoration: underline;
}

.header{
  color: #bc2525;
  text-shadow: 0px 0px 1px #000000;
  font-size: 2.4rem;
}

.subtitle a, .subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color:#05004e;
}

.subtitle a{
  text-decoration: underline;
  color:#05004e;
}

.search{
  width: 25rem;
}

.event-list{
  /* width: 45rem; */
  background-color: whitesmoke;
  border-radius: 5px;
  display: inline-block;
  padding: 2em;
  
}

.event{
  color: #05004e;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.5em;
}
.personal-data{
  color: #05004e;
  font-weight: 500;
  font-size: 1.1rem;

}


